<div class="specs-editor" id="specs-editor-{{ widget.attrs.id }}">
    <div class="specs-list">
        {% for key, value in widget.value %}
        <div class="spec-row">
            <input type="text" name="{{ widget.name }}_key" value="{{ key }}" placeholder="Tên thông số" class="spec-key">
            <input type="text" name="{{ widget.name }}_value" value="{{ value }}" placeholder="Giá trị" class="spec-value">
            <button type="button" class="spec-remove" title="Xóa">x</button>
        </div>
        {% endfor %}
    </div>
    <button type="button" class="spec-add" data-name="{{ widget.name }}">Thêm thông số</button>
</div>